:root {
  color-scheme: dark;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#app,
#viewer {
  width: 100%;
  height: 100%;
  background: #000;
}

canvas {
  display: block;
}
